@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* ### Primary */
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  /*
    ### Headings

    - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
    - Weights: 400, 600

    ### Body

    - Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
    - Weights: 400
    */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg-desktop.svg");
  background-color: var(--Violet);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.landing_page_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  /* align-items: center; */
  padding: 1.8rem 3rem;
}

.middle_content {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 0rem;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 3rem;
  height: 26rem;
  padding-top: 3rem;
  padding-right: 5rem;
}

#title {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2.8rem;
  font-weight: 600;
}

.desc {
  font-size: 1.32rem;
  line-height: 1.8rem;
  color: lightgray;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#register-btn {
  display: block;
  width: 13.5rem;
  padding: 0.8rem;
  border-radius: 10rem;
  border: none;
  background-color: white;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: var(--Violet);
  font-family: "Open sans", sans-serif;
  transition: background-color 0.4s;
}

#register-btn:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.social_links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 5rem;
  gap: 1rem;
}

svg {
  border: 0.09rem solid #fff;
  padding: 0.4rem;
  border-radius: 50%;
  width: 2.2rem !important;
  height: 2.2rem!;
  transform: all 0.4s;
}

svg:hover {
  border-color: var(--Soft-Magenta);
  fill: var(--Soft-Magenta);
}

@media screen and (max-width: 400px) {
  body {
    /* padding-bottom: 1rem; */
    background-image: url("./images/bg-mobile.svg");
    height: 100%;
  }
  .landing_page_container {
    padding: 0.8rem 2.3rem;
    gap: 1rem;
    /* height: 100vh; */
  }

  .logo {
    display: flex;
    width: 100%;
  }

  .logo img {
    width: 45%;
  }

  .middle_content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
    padding-right: 0rem;
    align-items: center;
  }

  #title {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  .desc {
    font-size: 1rem;
    line-height: 1.5rem;
    color: lightgray;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
  }
}
